.instructionsModal {
  :global {
    .ant-modal-body {
      padding: 24px;
    }
  }
}

.content {
  .description {
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
    text-align: center;
  }

  :global {
    .ant-steps {
      max-width: 300px;
      margin: 0 auto;

      .ant-steps-item {
        &-title {
          font-weight: 500;
        }

        &-description {
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
} 